#panel

{
	position: relative;
	bottom: -200px;
	right: 100px;
	border:none;
	display: block;
    margin-left: auto;
    margin-right: auto;

}

#panel-background
{
	background-color: black;


}



#image
{
	display: block;
    margin-left: auto;
    margin-right: auto;

}

#options
{
	font-size: 20px;
}

.button
{
	background-color: tomato;
}
/*.hide {
	display: none;
}*/